# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*

# Django
*.sqlite3
media/
staticfiles/

# Node / React
node_modules/
dist/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/


!.env.example
!**/.env.example
